{% extends 'base.html' %}

{% block container %}


    <div class="row mx-1">
        <div class="col-12">

            <h2>Lista de capitulos "jogo {{ object }}"</h2>

        </div>
        {% for capitulo in object_list %}

            <div class="col-lg-4 mb-2">
                <div class="card h-100">

                    <a href="{% url 'CapituloJogoDetailView' capitulo.slug %}">
                        {% if  capitulo.imagem %}
                            <img class="card-img-top" src="{{ capitulo.imagem.url }}" alt="{{ capitulo.nome }}">
                        {% else %}
                            <img class="card-img-top" src="http://placehold.it/750x300">
                        {% endif %}


                        <h4 class="card-header">{{ capitulo.nome|safe }}</h4>
                        <div class="card-body">
                            {{ capitulo.descricao  |safe |truncatewords:10 }}
                        </div>

                    </a>

                </div>
            </div>
        {% endfor %}

    </div>
    <!-- /.row -->


{% endblock %}
