body {

}

.tp-0 {
    padding-left: 0;
    padding-right: 0;

}

.conteudo {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    border: 1px solid #fafafa;

}

.navbar-collapse {
    background-color: #1b1b1b;
    color: #ffffff;
}


.navbar-toggler-icon {
    color: white !important;
}


.div-titulo h2 small {
    font-size: 60%;
}

.div-titulo h2 {
    border-bottom: 1px solid #e4e4e4 !important;
    margin-bottom: 15px;
}

.card-body p img {
    display: none;
}

#lista-thumbnail img {
    max-width: 255px;
    height: 142px;
}

