{% extends 'index-admin.html' %}
{% load static crispy_forms_tags %}
{% block conteudo %}
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-primary shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar Jogo</p>
                    <p class="text-white-50 small m-0">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-primary shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar Episodio</p>
                    <p class="text-white-50 small m-0">50</p>
                </div>
            </div>
        </div>
        {#    #}
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-info shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar categoria blog</p>
                    <p class="text-white-50 small m-0">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-info shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar página</p>
                    <p class="text-white-50 small m-0">50</p>
                </div>
            </div>
        </div>

      {#    #}
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-success shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar categoria blog</p>
                    <p class="text-white-50 small m-0">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-success shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar página</p>
                    <p class="text-white-50 small m-0">50</p>
                </div>
            </div>
        </div>
       {#    #}
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-warning shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar categoria blog</p>
                    <p class="text-white-50 small m-0">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card text-white bg-warning shadow">
                <div class="card-body">
                    <p class="m-0">Adicionar página</p>
                    <p class="text-white-50 small m-0">50</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}