{% extends 'index-admin.html' %}
{% load static crispy_forms_tags %}
{% block conteudo %}

    <meta http-equiv="refresh" content="600">
    <script src="{% static 'js/bootstrap-table-master/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-table-master/bootstrap-table.css' %}">
    <script src="{% static 'js/bootstrap-table-master/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-master/bootstrap-table-pt-BR.js' %}"></script>

    <h1>
        Listar Jogos
    </h1>
    <table
{#            data-pagination="true"#}
            data-locale="pt-BR"
            data-toggle="table"
            data-search="true"
            data-sortable="true"
            data-show-columns="true"
            class="tabela-usuario">
        <thead>
        <tr>
            <th data-sortable="true">ID</th>
            <th data-sortable="true">Nome</th>
            <th data-sortable="true">URL</th>
            <th data-sortable="true">Ação</th>
        </tr>
        </thead>

        <tbody>
        {% for jogo in object_list %}
            <tr>
                <td>{{ jogo.id }}</td>
                <td>{{ jogo.nome }}</td>
                <td>
                    <a href="{% url 'CapituloJogoListView' jogo.id %}" target="_blank">
                        {{ jogo.slug }}
                    </a>
                </td>
                <td class="d-flex justify-content-between">
                    <a href="{% url 'JogoUpdate' jogo.slug %}">Editar</a>
                    <a href="{% url 'JogoDelete' jogo.slug %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}